/*navigation styles */
nav {
    padding: 0;
    margin: 0;
}
    
nav ul {
    position: relative;
    margin: 0 5px;
    height: 0;
    width: 90%;
    top: -35px;
    
    
}
nav li {
    line-height: 0px;
    width: 150px;
    display: inline;
    float: none;
    text-align: right;
    margin-left: 5px;
    margin-right: 0;
    padding: 0 20px;
    color: blue;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    color: white;
    font-weight: bold;

}

